//Media Queries
$mobile-min: "320px";
$mobile-max: "767px";
$tablet-min: "768px";
$tablet-max: "1023px";
$desktop-min: "1024px";

//Global Fonts
$alice-stack: 'Alice', serif;
$raleway-stack: 'Raleway', sans-serif;

//Colors
$white: white;
$primary: #003333;
$secondary: #669999;
$tertiary: #999999;

@-webkit-keyframes fromLeft {
    0% {
        left: -8%;
    }
    100% {
        left: 100%;
    }
}

@-webkit-keyframes fromRight {
    0% {
        right: -8%;
    }
    100% {
        right: 100%;
    }
}

@-webkit-keyframes sky {
    0% {
        background-color: #5D6C80;
    }
    7%{
        background-color: #BAD7FF;
    }
    46%{
        background-color: #BAD7FF;
    }
    47.5%{
        background-color: #222222;
    }
    98.5%{
        background-color: #222222;
    }
    100% {
        background-color: #5D6C80;
    }
}

@-webkit-keyframes sky-mobile {
    0% {
        background-color: #5D6C80;
    }
    7%{
        background-color: #BAD7FF;
    }
    43%{
        background-color: #BAD7FF;
    }
    46%{
        background-color: #222222;
    }
    98.5%{
        background-color: #222222;
    }
    100% {
        background-color: #5D6C80;
    }
}


@-webkit-keyframes starFade {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes starryNight {
    0% {
        opacity: 0;
    }
    47%{
        opacity: 0;
    }
    55%{
        opacity: 1;
    }
    94%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes sun {
    0% {
        transform: rotate(0deg);
        bottom: -120px;
    }
    12.5%{
        bottom: 72.5%;
    }
    38.5%{
        bottom: 72.5%;
    }
    50%{
        transform: rotate(360deg);
        bottom: -120px;
    }
    100%{
        bottom: -120px;
    }
}

@-webkit-keyframes sun-mobile {
    0% {
        transform: rotate(0deg);
        bottom: -120px;
    }
    12.5%{
        bottom: 62.5%;
    }
    38.5%{
        bottom: 62.5%;
    }
    50%{
        transform: rotate(360deg);
        bottom: -120px;
    }
    100%{
        bottom: -120px;
    }
}


@-webkit-keyframes moon {
    0%{
        bottom: -120px;
    }
    100%{
        bottom: 74%;
    }
}

@-webkit-keyframes moon-mobile {
    0%{
        bottom: -120px;
    }
    45%{
        bottom: -120px;
    }
    57.7%{
        bottom: 61.5%;
    }
    87.5%{
        bottom: 61.5%;
    }
    100% {
        bottom: -90px;
    }
}

@-webkit-keyframes rotatingRight {
    0%{
        transform-origin: right;
        z-index: 20;
        transform: rotateY(0deg);
        opacity: 0.5;
    }
    25%{
        opacity: 0.9;

    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.1;
    }
    100%{
        transform-origin: right;
        z-index: 0;
        opacity: 0.5;
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes rotatingLeft {
    0%{
        transform: rotateY(0deg);
        transform-origin: left;
        z-index: 2;
        opacity: 0.5;
    }
    25%{
        opacity: 0.1;

    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.9;
    }
    100%{
        transform: rotateY(360deg);
        transform-origin: left;
        z-index: 20;
        opacity: 0.5;
    }
}

@-webkit-keyframes horizonBlur {
    0% {
        box-shadow: inset 0 60px 60px -60px rgba(0,0,0,0.8);
    }
    8%{
        box-shadow: inset 0 60px 60px -60px rgba(255,255,255,0.8);
    }

    42%{
        box-shadow: inset 0 60px 60px -60px rgba(255,255,255,0.8);
    }
    50%{
        box-shadow: inset 0 60px 60px -60px rgba(0,0,0,0.8);;
    }
    100% {
        box-shadow: inset 0 60px 60px -60px rgba(0,0,0,0.8);;
    }
}

.clearfix{
    display: table;
    content: '';
    clear: both;
}

body{
    overflow-x: hidden;
    background-color: $primary;
    font-family: $raleway-stack;
    color: $white;
    transition: all 1.4s ease-in-out;
    @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
        background-color: black;
    }
}

.navigation{
    @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
        transition: all 1.5s !important;
        background: rgba(0,0,0,0.3);
    }
    &.active{
        @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
            transition: all 1.5s !important;
            background: rgba(0,0,0,1);
            box-shadow: 0 0px 22px 2px black;
        }
    }
}

#navigation{
    top: 0;
    z-index: 200;
    @media screen and (min-width: $desktop-min){
        right: 0;
        margin-top: 20px;
        position: fixed;
    }
    @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
        position: fixed;
        height: 52px;
        left: 0;
        right: 0;
    }
    &.fixed{
        z-index: 1;
        box-shadow: 0 -12px 15px 9px black;
        background: rgba(255, 213, 213, 0.8);
        ul{
            border-left: 1px dotted lightgray;
        }
    }
    .navigation-list{
        height: 50px;
        background: rgba(255, 255, 255, 0.1);
        transition: width 0.6s ease-in-out;
        @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
            transition: all 1s ease-in-out;
            background: none !important;
        }
        &:hover{
            background: rgba(255, 255, 255, 0.2);
        }
        &.active{
            background: rgba(255, 255, 255, 0.2);
        }
        &.extended{
            width: 200px;
            .nav-header{
                opacity: 1;
                transition: transform 0s !important, opacity 0.5s;
                transition-delay: 0.2s !important;
            }
        }
        &.unextended{
            width: 55px;
            .nav-header{
                opacity: 0;
                transition: transform 0s !important, opacity 0.5s;
                transition-delay: 0s !important;
            }
        }
        .nav-header{
            transition: opacity 0.5s;
            transition-delay: 0.25s;
            opacity: 1;
            color: $white;
            padding-top: 15px;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                display: none;
            }
        }
        .mobile-seperator{
            width: 1px;
            float: left;
            height: 52px;
            border-right: 1px solid rgba(255,255,255,0.3);
            transition: all 1s !important;
            @media screen and (min-width: $desktop-min){
                display: none;
            }
            &.active{
                transition: all 1s;
                border-right: 1px solid rgba(255,255,255,1);
            }
        }
        ul{
            float: left;
            padding-top: 15.5px;
            padding-left: 0px;
            width: 57px;
            margin-bottom: 0px;
            padding-bottom: 10px;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                padding-top: 16.5px;
                position: relative;
                z-index: 999;
            }
            li{
                height: 3px;
                border-radius: 3px;
                width: 25px;
                background-color: #fff;
                margin-left: 15px;
                list-style: none;
                margin-bottom: 5px;
                opacity: 1;
                transition: transform 0.7s, opacity 0.2s;
                @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                    background-color: $white;
                }
                &:nth-child(2){
                    transition: transform 0.7s, opacity 2s;
                }
            }
        }
        &.active{
            ul{
                li:nth-child(1){
                    transition: transform 0.7s, opacity 0.2s;
                    transform: rotate(-45deg) translate(-6px, 6px);
                }
                li:nth-child(2){
                    transition: transform 0.7s, opacity 0.2s;
                    opacity: 0;
                }
                li:nth-child(3){
                    transition: transform 0.7s, opacity 0.2s;
                    transform: rotate(45deg) translate(-5px, -5px);
                }
            }
        }
        &:hover{
            cursor: pointer;
        }
        i{
            color: $white;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                width: 25px;
                display: none;
                color: lightblue;
            }
        }
        .menu-item-one,
        .menu-item-two,
        .menu-item-three,
        .menu-item-four{
            opacity: 0;
            position: absolute;
            color: $white;
            left: 100px;
            padding-top: 2px;
            transform: translate(150px, 0px);
            transition: transform 0.5s, opacity 0.2s;
            &.active{
                transform: translate(-100px, 0px);
                transition: transform 0.5s, opacity 0.2s;
                opacity: 1;
            }
        }
        .fa-angle-double-up{
            left: 120.5px;
            font-weight: 300;
            font-size: 25px;
        }
        .fa-code{
            left: 118px;
            font-size: 22px;
        }
        .fa-graduation-cap{
            left: 117px;
            font-size: 20px;
        }
        .fa-envelope-o{
            left: 119.5px;
            font-size: 22px;
        }
        .fa-angle-double-up,
        .fa-code,
        .fa-graduation-cap,
        .fa-envelope-o{
            opacity: 0;
            position: absolute;
            right: 0px;
            transform: translate(150px, 0px);
            transition: transform 0.5s, opacity 0.2s;
            &.active{
                transform: translate(-100px, 0px);
                transition: transform 0.5s, opacity 0.2s;
                opacity: 1;
            }
        }
        .menu-item{
            @media screen and (min-width: $desktop-min){
                padding-left: 58px;
            }
        }
        .menu-item-one,
        .fa-angle-double-up{
            top: 80px;
            transition-delay: 0.53s;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                top: 15px;
                margin-left: 73px;
                transition-delay: 0.4s;
            }
            &.active{
                transition-delay: 0.2s;
            }
        }
        .menu-item-two,
        .fa-graduation-cap{
            top: 130px;
            transition-delay: 0.34s;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                top: 15px;
                margin-left: 123px;
                transition-delay: 0.3s;
            }
            &.active{
                transition-delay: 0.3s;
            }
        }
        .menu-item-three,
        .fa-code{
            top: 180px;
            transition-delay: 0.2s;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                top: 15px;
                margin-left: 185px;
                transition-delay: 0.2s;
            }
            &.active{
                transition-delay: 0.4s;
            }
        }
        .menu-item-four,
        .fa-envelope-o{
            top: 230px;
            transition-delay: 0.1s;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                top: 15px;
                margin-left: 250px;
                transition-delay: 0.1s;
            }
            &.active{
                transition-delay: 0.5s;
            }
        }
    }
}
.hero-section{
    height: 100vh;
    width: 100%;
    background-color: #222222;
    // -webkit-animation: sky 60s infinite; /* Safari 4+ */
    // -moz-animation:    sky 60s infinite; /* Fx 5+ */
    // -o-animation:      sky 60s infinite; /* Opera 12+ */
    // animation:         sky 60s infinite;
    // animation-timing-function: linear;
    @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
        height: 100vh;
        // -webkit-animation: sky-mobile 60s infinite; /* Safari 4+ */
        // -moz-animation:    sky-mobile 60s infinite; /* Fx 5+ */
        // -o-animation:      sky-mobile 60s infinite; /* Opera 12+ */
        // animation:         sky-mobile 60s infinite;
        // animation-timing-function: linear;
        &.mobile-detection-height{
            height: calc(100vh - 70px);
        }
    }
    .starry-night{
        position: absolute;
        z-index: 1;
        width: 100%;
        // -webkit-animation: starryNight 60s infinite; /* Safari 4+ */
        // -moz-animation:    starryNight 60s infinite; /* Fx 5+ */
        // -o-animation:      starryNight 60s infinite; /* Opera 12+ */
        // animation:         starryNight 60s infinite;
        animation-timing-function: linear;
        @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
            // -webkit-animation: starryNight 60s infinite; /* Safari 4+ */
            // -moz-animation:    starryNight 60s infinite; /* Fx 5+ */
            // -o-animation:      starryNight 60s infinite; /* Opera 12+ */
            // animation:         starryNight 60s infinite;
        }
        p{
            animation-timing-function: linear;
            position: absolute;
        }
    }

    .moon-sun{
        position: absolute;
        z-index: 0;
        top: 0;
        width: 100%;
        transform-origin:50% 50%;

        .moon{
            position: absolute;
            left: 5%;
            width: 70px;
            bottom: 74%;
            box-shadow: 0 0 110px 5px #fff;
            border-radius: 100%;
            -webkit-animation: moon 9s; /* Safari 4+ */
            -moz-animation:    moon 9s; /* Fx 5+ */
            -o-animation:      moon 9s; /* Opera 12+ */
            animation:         moon 9s;
            animation-timing-function: ease-in-out;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                width: 45px;
                left: 6.5%;
                // -webkit-animation: moon-mobile 60s infinite; /* Safari 4+ */
                // -moz-animation:    moon-mobile 60s infinite; /* Fx 5+ */
                // -o-animation:      moon-mobile 60s infinite; /* Opera 12+ */
                // animation:         moon-mobile 60s infinite;
            }
        }
        .sun{
            display: none;
            position: absolute;
            left: 5%;
            margin-top: 55px;
            width: 70px;
            border-radius: 100%;
            background-color: rgba(255,255,175,.3);
            box-shadow: 0px 0px 100px 10px rgba(255,255,175,.6);
            -webkit-animation: sun 60s infinite; /* Safari 4+ */
            -moz-animation:    sun 60s infinite; /* Fx 5+ */
            -o-animation:      sun 60s infinite; /* Opera 12+ */
            animation:         sun 60s infinite;
            animation-timing-function: ease-in-out;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                width: 50px;
                left: 6.5%;
                background-color: rgba(255,255,175,.2);
                box-shadow: 0px 0px 100px 10px rgba(255,255,175,.8);
                -webkit-animation: sun-mobile 60s infinite; /* Safari 4+ */
                -moz-animation:    sun-mobile 60s infinite; /* Fx 5+ */
                -o-animation:      sun-mobile 60s infinite; /* Opera 12+ */
                animation:         sun-mobile 60s infinite;
            }
        }
    }
    .island-animation-wrapper{
        height: 100%;
        position: absolute;
        width: 100%;
        @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
            overflow: hidden !important;
        }
        .cloud-one{
            height: 3%;
            position: absolute;
            top: 12%;
            opacity: 0.5;
            -webkit-animation: fromLeft 120s infinite; /* Safari 4+ */
            -moz-animation:    fromLeft 120s infinite; /* Fx 5+ */
            -o-animation:      fromLeft 120s infinite; /* Opera 12+ */
            animation:         fromLeft 120s infinite;
            animation-timing-function: linear;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                top: 16%;
            }
        }
        .cloud-two{
            height: 3%;
            position: absolute;
            top: 30%;
            opacity: 0.5;
            -webkit-animation: fromRight 60s infinite; /* Safari 4+ */
            -moz-animation:    fromRight 60s infinite; /* Fx 5+ */
            -o-animation:      fromRight 60s infinite; /* Opera 12+ */
            animation:         fromRight 60s infinite;
            animation-timing-function: linear;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                top: 39%;
            }
        }
        .island-wrapper{
            height: 203px;
            position: absolute;
            margin: 0 auto;
            width: 100%;
        }



        .lighthouse-rays-left{
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            right: 229px;
            margin: 44.5px auto;
            z-index: 30;
            border-radius: 20px;
            border-width: 12px 0 12px 90px;
            border-color: transparent transparent transparent #ffffdc;
            -webkit-animation: rotatingRight 8s infinite; /* Safari 4+ */
            -moz-animation:    rotatingRight 8s infinite; /* Fx 5+ */
            -o-animation:      rotatingRight 8s infinite; /* Opera 12+ */
            animation:         rotatingRight 8s infinite;
            animation-timing-function: linear;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                right: 101px;
                margin: 62.5px auto;
            }
        }
        .lighthouse-rays-right{
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            right: 136px;
            margin: 44.5px auto;
            z-index: 30;
            border-radius: 20px;
            border-width: 12px 90px 12px 0;
            border-color: transparent #ffffdc transparent transparent;
            -webkit-animation: rotatingLeft 8s infinite; /* Safari 4+ */
            -moz-animation:    rotatingLeft 8s infinite; /* Fx 5+ */
            -o-animation:      rotatingLeft 8s infinite; /* Opera 12+ */
            animation:         rotatingLeft 8s infinite;
            animation-timing-function: linear;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                right: 13px;
                margin: 62.5px auto;
                overflow: hidden !important;
            }
        }

        .island{
            z-index: 10;
            height: auto;
            position: absolute;
            margin: 0 auto;
            bottom: 0;
            width: 340px;
            right: -40px;
            display: block;
            @media screen and (max-width: $tablet-max){
                display: none;
            }
        }
        .island-mobile{
            z-index: 10;
            height: auto;
            position: absolute;
            margin: 0 auto;
            bottom: 0;
            width: 150px;
            right: 15px;
            display: none;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                display: block;
            }
        }

        .wave-one,
        .wave-two,
        .wave-three{
            position: absolute;
            width: 100%;
            height: 13%;
            z-index: 100;
        }
        .wave-one{
            // -webkit-animation: horizonBlur 60s infinite; /* Safari 4+ */
            // -moz-animation:    horizonBlur 60s infinite; /* Fx 5+ */
            // -o-animation:      horizonBlur 60s infinite; /* Opera 12+ */
            // animation:         horizonBlur 60s infinite;
            box-shadow: inset 0 60px 60px -60px rgba(0,0,0,0.8);;
            animation-timing-function: linear;
            background-color: #20b1ba;
        }
        .wave-two{
            background-color: #1a979f;
        }
        .wave-three{
            bottom: 0;
            background-color: #17828f;
        }
    }

    .container{
        height: 100vh;
        h4{
            text-align: center;
        }
        .hero-intro{
            height: 100%;
            position: relative;
            text-align: center;
            z-index: 120;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                height: 47vh;
            }
            h1{
                font-size: 42px;
                position: absolute;
                bottom: 15%;
                left: 0;
                right: 0;
                color: $white;
                @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                    font-size: 38px;
                }
            }
            h4{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 13%;
                @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                    font-size: 16px;
                }
            }
        }
        .typed-cursor{
            display: none;
        }
        .navigation-arrow{
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-bottom: 45px;
            @media screen and (min-width: $mobile-min) and (max-width: $tablet-max){
                transition: all 0.7s;
                &.active{
                    transition: all 0.7s;
                    margin-bottom: -60px;
                }
            }

            .navigation-arrow-wrapper{
                width: 100px;
                margin: 0 auto 30px auto;
                color: $white;
                &:hover{
                    cursor: pointer;
                }
                p{
                    letter-spacing: 0.5px;
                    font-weight: 400;
                    font-size: 18px;
                    margin-bottom: 0px;
                }
                .fa-angle-down{
                    color: $white;
                    font-size: 60px;
                    font-weight: 400;
                    transition: padding 0.8s, color 0.8s;
                    position: absolute;
                    left: 0;
                    right: 0;
                    z-index: 130;
                    &.wave{
                        padding-top: 5px;
                        color: $secondary;
                    }
                }
            }
        }
    }
}

.skills-section{
    height: 100%;
    width: 100%;
    padding-top: 60px;
    background-color: #4c4c4c;
    padding-bottom: 30px;
    box-shadow: inset 5px 2px 300px 1px #262626;
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
        padding-bottom: 40px;
    }
    h4{
        margin-top: 0px;
        text-align: center;
        margin-bottom: 50px;
        @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
            margin-bottom: 0px;
        }
    }
    .carousel{
        display: none;
        @media screen and (max-width: $mobile-max){
            display: block;
        }
        .slick-prev:before,
        .slick-next:before {
            font-family: "FontAwesome";
            font-size: 27px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .slick-next{
        z-index: 100;
            right: 20px;
            &:before{
                content: "\f18e";
            }
        }
        .slick-prev{
                    z-index: 100;

            left: 20px;
            &:before{
                content: "\f190";
            }
        }
    }
    .row{
        display: block;
        margin-bottom: 55px;
        @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
            margin-bottom: 0px;
        }
        @media screen and (max-width: $mobile-max){
            display: none;
        }
    }
    .col-md-2,
    .col-sm-4,
    .col-xs-12{
        height: 100px;
        text-align: center;
        .helper {
            height: 100%;
            img{
                height: 100%;
                max-width: 80px;
                max-height: 80px;
                margin-bottom: 10px;
            }
        }
    }
    .col-sm-4{
        @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
            margin-top: 45px;
        }
    }
    .col-xs-12{
        height: 110px;
        .helper{
            img{
                margin: 0 auto 10px auto;
            }
        }
    }
}
.builds-section{
    height: 600px;
    width: 100%;
    padding-top: 40px;
    background-color: $primary;
    h3{
        margin-top: 0px;
        text-align: center;
    }
}

.contact-section{
    height: 600px;
    width: 100%;
    padding-top: 40px;
    background-color: $secondary;
    h3{
        margin-top: 0px;
        text-align: center;
    }
}

footer{
    height: 200px;
    width: 100%;
    padding-top: 40px;
    background-color: $tertiary;
    h3{
        margin-top: 0px;
        text-align: center;
    }
}
