// ------------------------------------------------------------
// Modals
//
// 
// ------------------------------------------------------------

.modal-content{
	background: transparent;
	margin-top: 150px !important;
	
	iframe{
		width: 100%;
	}
}