@-webkit-keyframes fromLeft {
  0% {
    left: -8%;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  46% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  96% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    left: 100%;
  }
}
@-webkit-keyframes fromRight {
  0% {
    right: -8%;
  }
  44% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  96% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    right: 100%;
  }
}
@-webkit-keyframes sky {
  0% {
    background-color: #5D6C80;
  }
  7% {
    background-color: #BAD7FF;
  }
  46% {
    background-color: #BAD7FF;
  }
  47.5% {
    background-color: #222222;
  }
  98.5% {
    background-color: #222222;
  }
  100% {
    background-color: #5D6C80;
  }
}
@-webkit-keyframes sky-mobile {
  0% {
    background-color: #5D6C80;
  }
  7% {
    background-color: #BAD7FF;
  }
  43% {
    background-color: #BAD7FF;
  }
  46% {
    background-color: #222222;
  }
  98.5% {
    background-color: #222222;
  }
  100% {
    background-color: #5D6C80;
  }
}
@-webkit-keyframes starFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes starryNight {
  0% {
    opacity: 0;
  }
  47% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes sun {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: -120px;
  }
  12.5% {
    bottom: 72.5%;
  }
  38.5% {
    bottom: 72.5%;
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    bottom: -120px;
  }
  100% {
    bottom: -120px;
  }
}
@-webkit-keyframes sun-mobile {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: -120px;
  }
  12.5% {
    bottom: 62.5%;
  }
  38.5% {
    bottom: 62.5%;
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    bottom: -120px;
  }
  100% {
    bottom: -120px;
  }
}
@-webkit-keyframes moon {
  0% {
    bottom: -120px;
  }
  45% {
    bottom: -120px;
  }
  57.7% {
    bottom: 70%;
  }
  87.5% {
    bottom: 70%;
  }
  100% {
    bottom: -90px;
  }
}
@-webkit-keyframes moon-mobile {
  0% {
    bottom: -120px;
  }
  45% {
    bottom: -120px;
  }
  57.7% {
    bottom: 61.5%;
  }
  87.5% {
    bottom: 61.5%;
  }
  100% {
    bottom: -90px;
  }
}
@-webkit-keyframes rotatingRight {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    z-index: 20;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 0.5;
  }
  25% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    z-index: 0;
    opacity: 0.5;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotatingLeft {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    z-index: 2;
    opacity: 0.5;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    z-index: 20;
    opacity: 0.5;
  }
}
@-webkit-keyframes horizonBlur {
  0% {
    box-shadow: inset 0 60px 60px -60px rgba(0, 0, 0, 0.8);
  }
  8% {
    box-shadow: inset 0 60px 60px -60px rgba(255, 255, 255, 0.8);
  }
  42% {
    box-shadow: inset 0 60px 60px -60px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: inset 0 60px 60px -60px rgba(0, 0, 0, 0.8);
  }
  100% {
    box-shadow: inset 0 60px 60px -60px rgba(0, 0, 0, 0.8);
  }
}
.clearfix {
  display: table;
  content: '';
  clear: both;
}

body {
  overflow-x: hidden;
  background-color: #003333;
  font-family: "Raleway", sans-serif;
  color: white;
  transition: all 1.4s ease-in-out;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  body {
    background-color: black;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .navigation {
    transition: all 1.5s !important;
    background: rgba(0, 0, 0, 0.3);
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .navigation.active {
    transition: all 1.5s !important;
    background: black;
    box-shadow: 0 0px 22px 2px black;
  }
}

#navigation {
  top: 0;
  z-index: 200;
}
@media screen and (min-width: 1024px) {
  #navigation {
    right: 0;
    margin-top: 20px;
    position: fixed;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  #navigation {
    position: fixed;
    height: 52px;
    left: 0;
    right: 0;
  }
}
#navigation.fixed {
  z-index: 1;
  box-shadow: 0 -12px 15px 9px black;
  background: rgba(255, 213, 213, 0.8);
}
#navigation.fixed ul {
  border-left: 1px dotted lightgray;
}
#navigation .navigation-list {
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  transition: width 0.6s ease-in-out;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  #navigation .navigation-list {
    transition: all 1s ease-in-out;
    background: none !important;
  }
}
#navigation .navigation-list:hover {
  background: rgba(255, 255, 255, 0.2);
}
#navigation .navigation-list.active {
  background: rgba(255, 255, 255, 0.2);
}
#navigation .navigation-list.extended {
  width: 200px;
}
#navigation .navigation-list.extended .nav-header {
  opacity: 1;
  transition: -webkit-transform 0s !important, opacity 0.5s;
  transition: transform 0s !important, opacity 0.5s;
  transition-delay: 0.2s !important;
}
#navigation .navigation-list.unextended {
  width: 55px;
}
#navigation .navigation-list.unextended .nav-header {
  opacity: 0;
  transition: -webkit-transform 0s !important, opacity 0.5s;
  transition: transform 0s !important, opacity 0.5s;
  transition-delay: 0s !important;
}
#navigation .navigation-list .nav-header {
  transition: opacity 0.5s;
  transition-delay: 0.25s;
  opacity: 1;
  color: white;
  padding-top: 15px;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  #navigation .navigation-list .nav-header {
    display: none;
  }
}
#navigation .navigation-list .mobile-seperator {
  width: 1px;
  float: left;
  height: 52px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 1s !important;
}
@media screen and (min-width: 1024px) {
  #navigation .navigation-list .mobile-seperator {
    display: none;
  }
}
#navigation .navigation-list .mobile-seperator.active {
  transition: all 1s;
  border-right: 1px solid white;
}
#navigation .navigation-list ul {
  float: left;
  padding-top: 15.5px;
  padding-left: 0px;
  width: 57px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  #navigation .navigation-list ul {
    padding-top: 16.5px;
    position: relative;
    z-index: 999;
  }
}
#navigation .navigation-list ul li {
  height: 3px;
  border-radius: 3px;
  width: 25px;
  background-color: #fff;
  margin-left: 15px;
  list-style: none;
  margin-bottom: 5px;
  opacity: 1;
  transition: -webkit-transform 0.7s, opacity 0.2s;
  transition: transform 0.7s, opacity 0.2s;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  #navigation .navigation-list ul li {
    background-color: white;
  }
}
#navigation .navigation-list ul li:nth-child(2) {
  transition: -webkit-transform 0.7s, opacity 2s;
  transition: transform 0.7s, opacity 2s;
}
#navigation .navigation-list.active ul li:nth-child(1) {
  transition: -webkit-transform 0.7s, opacity 0.2s;
  transition: transform 0.7s, opacity 0.2s;
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
      -ms-transform: rotate(-45deg) translate(-6px, 6px);
          transform: rotate(-45deg) translate(-6px, 6px);
}
#navigation .navigation-list.active ul li:nth-child(2) {
  transition: -webkit-transform 0.7s, opacity 0.2s;
  transition: transform 0.7s, opacity 0.2s;
  opacity: 0;
}
#navigation .navigation-list.active ul li:nth-child(3) {
  transition: -webkit-transform 0.7s, opacity 0.2s;
  transition: transform 0.7s, opacity 0.2s;
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
      -ms-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
}
#navigation .navigation-list:hover {
  cursor: pointer;
}
#navigation .navigation-list i {
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  #navigation .navigation-list i {
    width: 25px;
    display: none;
    color: lightblue;
  }
}
#navigation .navigation-list .menu-item-one,
#navigation .navigation-list .menu-item-two,
#navigation .navigation-list .menu-item-three {
  opacity: 0;
  position: absolute;
  color: white;
  left: 100px;
  padding-top: 2px;
  -webkit-transform: translate(150px, 0px);
      -ms-transform: translate(150px, 0px);
          transform: translate(150px, 0px);
  transition: -webkit-transform 0.5s, opacity 0.2s;
  transition: transform 0.5s, opacity 0.2s;
}
#navigation .navigation-list .menu-item-one.active,
#navigation .navigation-list .menu-item-two.active,
#navigation .navigation-list .menu-item-three.active {
  -webkit-transform: translate(-100px, 0px);
      -ms-transform: translate(-100px, 0px);
          transform: translate(-100px, 0px);
  transition: -webkit-transform 0.5s, opacity 0.2s;
  transition: transform 0.5s, opacity 0.2s;
  opacity: 1;
}
#navigation .navigation-list .fa-angle-double-up {
  left: 120.5px;
  font-weight: 300;
  font-size: 25px;
}
#navigation .navigation-list .fa-code {
  left: 118px;
  font-size: 22px;
}
#navigation .navigation-list .fa-envelope-o {
  left: 120.5px;
  font-size: 22px;
}
#navigation .navigation-list .fa-angle-double-up,
#navigation .navigation-list .fa-code,
#navigation .navigation-list .fa-envelope-o {
  opacity: 0;
  position: absolute;
  right: 0px;
  -webkit-transform: translate(150px, 0px);
      -ms-transform: translate(150px, 0px);
          transform: translate(150px, 0px);
  transition: -webkit-transform 0.5s, opacity 0.2s;
  transition: transform 0.5s, opacity 0.2s;
}
#navigation .navigation-list .fa-angle-double-up.active,
#navigation .navigation-list .fa-code.active,
#navigation .navigation-list .fa-envelope-o.active {
  -webkit-transform: translate(-100px, 0px);
      -ms-transform: translate(-100px, 0px);
          transform: translate(-100px, 0px);
  transition: -webkit-transform 0.5s, opacity 0.2s;
  transition: transform 0.5s, opacity 0.2s;
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  #navigation .navigation-list .menu-item {
    padding-left: 58px;
  }
}
#navigation .navigation-list .menu-item-one,
#navigation .navigation-list .fa-angle-double-up {
  top: 80px;
  transition-delay: 0.53s;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  #navigation .navigation-list .menu-item-one,
  #navigation .navigation-list .fa-angle-double-up {
    top: 15px;
    margin-left: 78px;
    transition-delay: 0.4s;
  }
}
#navigation .navigation-list .menu-item-one.active,
#navigation .navigation-list .fa-angle-double-up.active {
  transition-delay: 0.2s;
}
#navigation .navigation-list .menu-item-two,
#navigation .navigation-list .fa-code {
  top: 130px;
  transition-delay: 0.34s;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  #navigation .navigation-list .menu-item-two,
  #navigation .navigation-list .fa-code {
    top: 15px;
    margin-left: 138px;
    transition-delay: 0.3s;
  }
}
#navigation .navigation-list .menu-item-two.active,
#navigation .navigation-list .fa-code.active {
  transition-delay: 0.3s;
}
#navigation .navigation-list .menu-item-three,
#navigation .navigation-list .fa-envelope-o {
  top: 180px;
  transition-delay: 0.2s;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  #navigation .navigation-list .menu-item-three,
  #navigation .navigation-list .fa-envelope-o {
    top: 15px;
    margin-left: 216px;
    transition-delay: 0.2s;
  }
}
#navigation .navigation-list .menu-item-three.active,
#navigation .navigation-list .fa-envelope-o.active {
  transition-delay: 0.4s;
}

.hero-section {
  height: 100vh;
  width: 100%;
  -webkit-animation: sky 60s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: sky 60s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section {
    height: 100vh;
    -webkit-animation: sky-mobile 60s infinite;
    /* Safari 4+ */
    /* Fx 5+ */
    /* Opera 12+ */
    animation: sky-mobile 60s infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  .hero-section.mobile-detection-height {
    height: calc(100vh - 70px);
  }
}
.hero-section .starry-night {
  position: absolute;
  z-index: 1;
  width: 100%;
  -webkit-animation: starryNight 60s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: starryNight 60s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section .starry-night {
    -webkit-animation: starryNight 60s infinite;
    /* Safari 4+ */
    /* Fx 5+ */
    /* Opera 12+ */
    animation: starryNight 60s infinite;
  }
}
.hero-section .starry-night p {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
}
.hero-section .moon-sun {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.hero-section .moon-sun .moon {
  position: absolute;
  left: 5%;
  width: 70px;
  box-shadow: 0 0 40px 0px white;
  border-radius: 100%;
  -webkit-animation: moon 60s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: moon 60s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section .moon-sun .moon {
    width: 45px;
    left: 6.5%;
    -webkit-animation: moon-mobile 60s infinite;
    /* Safari 4+ */
    /* Fx 5+ */
    /* Opera 12+ */
    animation: moon-mobile 60s infinite;
  }
}
.hero-section .moon-sun .sun {
  position: absolute;
  left: 5%;
  margin-top: 55px;
  width: 70px;
  border-radius: 100%;
  background-color: rgba(255, 255, 175, 0.3);
  box-shadow: 0px 0px 100px 10px rgba(255, 255, 175, 0.6);
  -webkit-animation: sun 60s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: sun 60s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section .moon-sun .sun {
    width: 50px;
    left: 6.5%;
    background-color: rgba(255, 255, 175, 0.2);
    box-shadow: 0px 0px 100px 10px rgba(255, 255, 175, 0.8);
    -webkit-animation: sun-mobile 60s infinite;
    /* Safari 4+ */
    /* Fx 5+ */
    /* Opera 12+ */
    animation: sun-mobile 60s infinite;
  }
}
.hero-section .island-animation-wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section .island-animation-wrapper {
    overflow: hidden !important;
  }
}
.hero-section .island-animation-wrapper .cloud-one {
  height: 3%;
  position: absolute;
  top: 12%;
  -webkit-animation: fromLeft 120s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: fromLeft 120s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section .island-animation-wrapper .cloud-one {
    top: 16%;
  }
}
.hero-section .island-animation-wrapper .cloud-two {
  height: 3%;
  position: absolute;
  top: 30%;
  -webkit-animation: fromRight 60s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: fromRight 60s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section .island-animation-wrapper .cloud-two {
    top: 39%;
  }
}
.hero-section .island-animation-wrapper .island-wrapper {
  height: 203px;
  position: absolute;
  margin: 0 auto;
  width: 100%;
}
.hero-section .island-animation-wrapper .lighthouse-rays-left {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  right: 229px;
  margin: 44.5px auto;
  z-index: 30;
  border-radius: 20px;
  border-width: 12px 0 12px 90px;
  border-color: transparent transparent transparent #ffffdc;
  -webkit-animation: rotatingRight 8s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: rotatingRight 8s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section .island-animation-wrapper .lighthouse-rays-left {
    right: 101px;
    margin: 62.5px auto;
  }
}
.hero-section .island-animation-wrapper .lighthouse-rays-right {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  right: 136px;
  margin: 44.5px auto;
  z-index: 30;
  border-radius: 20px;
  border-width: 12px 90px 12px 0;
  border-color: transparent #ffffdc transparent transparent;
  -webkit-animation: rotatingLeft 8s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: rotatingLeft 8s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section .island-animation-wrapper .lighthouse-rays-right {
    right: 13px;
    margin: 62.5px auto;
    overflow: hidden !important;
  }
}
.hero-section .island-animation-wrapper .island {
  z-index: 10;
  height: auto;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  width: 340px;
  right: -40px;
  display: block;
}
@media screen and (max-width: 1023px) {
  .hero-section .island-animation-wrapper .island {
    display: none;
  }
}
.hero-section .island-animation-wrapper .island-mobile {
  z-index: 10;
  height: auto;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  width: 150px;
  right: 15px;
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section .island-animation-wrapper .island-mobile {
    display: block;
  }
}
.hero-section .island-animation-wrapper .wave-one,
.hero-section .island-animation-wrapper .wave-two,
.hero-section .island-animation-wrapper .wave-three {
  position: absolute;
  width: 100%;
  height: 15%;
  z-index: 100;
}
.hero-section .island-animation-wrapper .wave-one {
  -webkit-animation: horizonBlur 60s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: horizonBlur 60s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background-color: #20b1ba;
}
.hero-section .island-animation-wrapper .wave-two {
  background-color: #1a979f;
}
.hero-section .island-animation-wrapper .wave-three {
  bottom: 0;
  background-color: #17828f;
}
.hero-section .container {
  height: 100vh;
}
.hero-section .container h4 {
  text-align: center;
}
.hero-section .container .hero-intro {
  height: 100%;
  position: relative;
  text-align: center;
  z-index: 120;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section .container .hero-intro {
    height: 47vh;
  }
}
.hero-section .container .hero-intro h1 {
  font-size: 42px;
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section .container .hero-intro h1 {
    font-size: 38px;
  }
}
.hero-section .container .hero-intro h4 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 13%;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section .container .hero-intro h4 {
    font-size: 16px;
  }
}
.hero-section .container .typed-cursor {
  display: none;
}
.hero-section .container .navigation-arrow {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 45px;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero-section .container .navigation-arrow {
    transition: all 0.7s;
  }
  .hero-section .container .navigation-arrow.active {
    transition: all 0.7s;
    margin-bottom: -60px;
  }
}
.hero-section .container .navigation-arrow .navigation-arrow-wrapper {
  width: 100px;
  margin: 0 auto 30px auto;
  color: white;
}
.hero-section .container .navigation-arrow .navigation-arrow-wrapper:hover {
  cursor: pointer;
}
.hero-section .container .navigation-arrow .navigation-arrow-wrapper p {
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0px;
}
.hero-section .container .navigation-arrow .navigation-arrow-wrapper .fa-angle-down {
  color: white;
  font-size: 60px;
  font-weight: 400;
  transition: padding 0.8s, color 0.8s;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 130;
}
.hero-section .container .navigation-arrow .navigation-arrow-wrapper .fa-angle-down.wave {
  padding-top: 5px;
  color: #669999;
}

.builds-section {
  height: 600px;
  width: 100%;
  padding-top: 40px;
  background-color: #003333;
}
.builds-section h3 {
  margin-top: 0px;
  text-align: center;
}

.contact-section {
  height: 600px;
  width: 100%;
  padding-top: 40px;
  background-color: #669999;
}
.contact-section h3 {
  margin-top: 0px;
  text-align: center;
}

footer {
  height: 200px;
  width: 100%;
  padding-top: 40px;
  background-color: #999999;
}
footer h3 {
  margin-top: 0px;
  text-align: center;
}
