@charset "UTF-8";
/**
 * Import your Admin SCSS files. These are styles for the dashboard/admin section of wordpress.
 * ============================================================================================
 */
.placeholder {
  content: 'Placehodler for Grunt to compile';
}

body {
  font-size: 14px;
  transition: all .33s ease-in-out;
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

p {
  font-family: "ff-tisa-web-pro";
  font-size: 1em;
}

h1 {
  font-family: "futura-pt";
  font-size: 3em;
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 3.25em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 3.50em;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.75em;
  }
}

h2 {
  font-family: "futura-pt";
  font-size: 2.25em;
}
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 2.50em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    font-size: 2.75em;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.80em;
  }
}

h3 {
  font-family: "futura-pt";
  font-size: 2em;
}

h4 {
  font-family: "futura-pt";
  font-size: 1.75em;
}

h5 {
  font-family: "futura-pt";
  font-size: 1.50em;
  margin: 30px auto;
  text-transform: uppercase;
}

h6 {
  font-family: "futura-pt";
  font-size: 1.25em;
}

a:hover {
  color: #ffffff;
  cursor: pointer;
}

.content-block {
  padding: 50px 0;
}

.modal-content {
  background: transparent;
  margin-top: 150px !important;
}
.modal-content iframe {
  width: 100%;
}

blockquote {
  background: transparent;
  border-left: 10px solid #999;
  padding: 0.5em 10px;
  margin-top: 45px;
  quotes: "“" "”" "‘" "’";
  font-size: 1rem;
}

blockquote:before {
  color: #333;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #333;
  content: close-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.button {
  background: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-family: "futura-pt";
  font-size: 1.250em;
  margin-bottom: .75em;
  margin-top: 3em;
  padding: .55em 1.25em;
  text-align: center;
}
.button:hover {
  background: #ffffff;
  color: #3FDD4D;
}

.modal-content {
  background: transparent;
  margin-top: 150px !important;
}
.modal-content iframe {
  width: 100%;
}

blockquote {
  background: transparent;
  border-left: 10px solid #999;
  padding: 0.5em 10px;
  margin-top: 45px;
  quotes: "“" "”" "‘" "’";
  font-size: 1rem;
}

blockquote:before {
  color: #333;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #333;
  content: close-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

header {
  background: transparent;
  color: #ffffff;
  height: 40px;
  overflow: hidden;
}

.intro-block {
  margin: 0;
  overflow: auto;
  padding: 0;
}
.intro-block .intro-block__inner {
  background: #3FDD4D;
  background: rgba(63, 221, 77, 0.4);
  height: 100%;
  margin: 0;
  width: 100%;
}
.intro-block .intro-block__inner .welcome {
  color: #ffffff;
  position: relative;
  text-align: center;
}
.intro-block .intro-block__inner .welcome h2 {
  font-size: 6em;
  font-weight: bold;
  text-shadow: 15px 20px 35px #333333;
}
.intro-block .intro-block__inner .welcome h5 {
  color: #333333;
  font-weight: 600;
}
@media (min-width: 768px) {
  .intro-block .intro-block__inner .welcome .emoji-container {
    margin: 0 auto;
    width: 75%;
  }
}
.intro-block .intro-block__inner .welcome .emoji-container .emoji {
  transition: all .33s ease-in-out;
}
.intro-block .intro-block__inner .welcome .emoji-container .emoji svg {
  display: block;
  margin: auto;
  width: 80%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .intro-block .intro-block__inner .welcome .emoji-container .emoji svg {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .intro-block .intro-block__inner .welcome .emoji-container .emoji svg {
    width: 40%;
  }
}

.about-block {
  height: 100%;
}
.about-block .tools-i-use {
  text-align: center;
}
.about-block .tools-i-use .tool-logos {
  padding-top: 50px;
}
@media (min-width: 768px) {
  .about-block .tools-i-use .tool-logos {
    margin: 0 auto;
    width: 60%;
  }
}
.about-block .tools-i-use .tool-logos .tool-logos__logo {
  margin-bottom: 25px;
  position: relative;
}
@media (min-width: 768px) {
  .about-block .tools-i-use .tool-logos .tool-logos__logo {
    margin-bottom: 50px;
  }
}
.about-block .tools-i-use .tool-logos .tool-logos__logo img {
  height: 50px;
  transition: all .33s ease-in-out;
}
@media (min-width: 768px) {
  .about-block .tools-i-use .tool-logos .tool-logos__logo img {
    height: 75px;
  }
}
.about-block .tools-i-use .tool-logos .tool-logos__logo img:hover {
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  transition: all .33s ease-in-out;
}

/*# sourceMappingURL=main.css.map */