// ------------------------------------------------------------
// Header
//
// Global styling for the header.
// ------------------------------------------------------------

//
// Header
// --------------------------------------------------

header{
	background: transparent;
	color: $white;
	height:40px;
	overflow: hidden;

	.branding{

	}
	nav{

	}
}